{
  "extends": ["react-app"],
  "plugins": ["simple-import-sort", "react"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "@typescript-eslint/no-explicit-any": [1]
  }
}
