{
  "extends": ["react-app"],
  "plugins": ["simple-import-sort", "react"],
  "rules": {
    "react-hooks/rules-of-hooks": [0],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "@typescript-eslint/no-explicit-any": [1]
  }
}
